<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Perfiles
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button full (click)="newProfileTapped($event)">Crear un nuevo perfil</button>

  <ion-list>
    <ion-list-header>
      Tus perfiles:
    </ion-list-header>

    <!-- <div *ngShow="activo != null && perfilesLista != []"> -->
      <!-- Perfil activo -->
      <ion-item *ngIf="activo != null">
       <ion-row>
         <label>{{activo}}</label>
       </ion-row>
       <ion-row>
         <button ion-button icon-start item-end >
           <ion-icon name='checkmark'></ion-icon>
           Activo
         </button>
       </ion-row>
      </ion-item>
      <!-- Perfil activo -->

      <!-- Otros perfiles -->
      <ng-container *ngFor="let nombre of perfilesLista">
        <ion-item  *ngIf="nombre != activo">
          <ion-row>
            <label>{{nombre}}</label>
          </ion-row>
          <ion-row>
            <button ion-button color="secondary" icon-start item-end (click)="sendDataToModule( nombre )">
              <ion-icon name="cloud-upload"></ion-icon>
              Activar
            </button>
            <button ion-button color="danger" icon-start item-end (click)="confirmDelete( nombre )">
              <ion-icon name='close'></ion-icon>
              Eliminar
            </button>

          </ion-row>
        </ion-item>
      </ng-container>
      <!-- Otros perfiles -->
  <!-- </div> -->
  <!--<div *ngShow="activo == null && perfilesLista == []">
    <h2>
      No tienes perfiles, por favor crea uno primero
    </h2>
  </div> -->


  </ion-list>
</ion-content>
